@font-face {
    font-family: "Vazir";
    src: url("../fonts/Vazir.eot");
    /* IE9 Compat Modes */
    src: url("../fonts/Vazir.ttf") format("embedded-opentype"), url("../fonts/Vazir.woff") format("woff"), url("../fonts/Vazir.woff2") format("woff2");
}

body,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Vazir" !important;
    background-color: #ecf0f1;
}

.preloader {
    background: url("../img/gifs/preloader.gif") center no-repeat;
    background-color: #f1f2f3;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    height: 100vh;
    z-index: 2;
}

a {
    text-decoration: none !important;
    color: #000;
}


/* Utilities */

.lh-0 {
    line-height: 0;
}

#top-header {
    background-color: #05c46b;
}

.bg-primary-1 {
    height: 50px;
    background-color: #05c46b;
}

.bg-light-1 {
    background-color: #f5f6fa;
}

.hover-li:hover {
    padding-right: 0.5rem;
    border-bottom: 2px solid #05c46b;
    transition: padding-right 0.5s;
}